@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700|Nunito:600');

.pokemonCardContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px
}

.pokemonCardContainer .card {
  max-width: 200px;
    border-radius: 20px;
    padding-bottom: 0.5rem;
    background: none;
}

.pokemonCardContainer .card .card-image {
  margin-bottom: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 175px;
}

.pokemonCardContainer .card--pokemon .card-image-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
}

.pokemonCardContainer .card--pokemon .card-image-container img{
  width: 220px;
}

.pokemonCardContainer .card-content .column .icon {
  width: 25px;
    height: 25px;
    filter: drop-shadow(0px 1px 9px black);
    border-radius: 55%;
    margin-bottom: 2px;
}

.pokemonCardContainer .card-content .main {
  padding: 0px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemonCardContainer .card-content .title {
  font-family: Cinzel;
  letter-spacing: -2px;
  margin-bottom: 1px;
  font-size: 1.7rem;
  font-weight: bold;
  margin-left: 2px;
  text-transform: uppercase;
}

.pokemonCardContainer .pokemon-hp {
  font-family: Cinzel;
  position: relative;
  font-weight: lighter;
  font-size: 1.2rem;
  margin-top: 1px;
  text-transform: uppercase;
}

.pokemonCardContainer hr {
  height: 6px;
    width: 119px;
    border: none;
    border-radius: 10px;
    margin: 0px;
}

.pokemonCardContainer .pokemon-hp::before {
  position: absolute;
    top: -8px;
    left: 50%;
    width: 400%;
    height: 5px;
    border-radius: 3px;
    content: ' ';
    transform: translateX(-50%);
}

.pokemonCardContainer .card-content .stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 37%;
  /* margin: 0 auto; */
  /* margin-top: 20px; */
  font-size: 20px;
}

.pokemonCardContainer .card-content .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  /* margin: 0 auto; */
  /* margin-top: 20px; */
  font-size: 14px;
}

.pokemonCardContainer .card-content .nudge {
 margin-bottom: 10px;
}

.pokemonCardContainer .card-content .stats .tag {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 10px;
    border-radius: 60px;
    font-size: 0.9em;
    width: 90%;

}
