.pokemon{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pokemon img{
  width: 200px;
}

.App-header img{
  width: 325px;
  height: 150px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

