nav {
  background-color: #0d3b66;
  color: white;
  display: flex;
  padding: 0 32px;
  align-items: center;
  justify-content: space-between;
}

nav a,
nav a:visited,
nav a:active {
  color: white;
  text-decoration-line: none;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo-container img {
  width: 40px;
  margin-right: 8px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.sign-out {
  line-height: 1.5em;
  text-align: center;
  display: inline-block;
  width: 9.5em;
  -webkit-border-radius: 0.75em;
  -moz-border-radius: 0.75em;
  -o-border-radius: 0.75em;
  border-radius: 0.75em;
  -webkit-box-shadow: 0 0.2em maroon;
  -moz-box-shadow: 0 0.2em maroon;
  -o-box-shadow: 0 0.2em maroon;
  box-shadow: 0 0.2em maroon;
  margin: 10px;
  background-color: red;
  cursor: pointer;
  padding-left: 5px;
}

.sign-out:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}

.profile {
  line-height: 1.5em;
  text-align: center;
  display: inline-block;
  width: 9em;
  border-radius: 0.75em;
  -o-box-shadow: 0 0.2em maroon;
  box-shadow: 0 0.2em gray;
  margin: 10px;
  background-color: lightgray;
  cursor: pointer;
  padding-left: 5px;
  color: gray;
  text-shadow: -1px -1px black, 1px 1px white;
}

.profile:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}

h3 {
  text-decoration-line: none;
}

@media (max-width: 400px) {
  .sign-out {
    line-height: 1.5em;
    text-align: center;
    display: inline-block;
    width: 6.5em;
    -webkit-border-radius: 0.75em;
    -moz-border-radius: 0.75em;
    -o-border-radius: 0.75em;
    border-radius: 0.75em;
    -webkit-box-shadow: 0 0.2em maroon;
    -moz-box-shadow: 0 0.2em maroon;
    -o-box-shadow: 0 0.2em maroon;
    box-shadow: 0 0.2em maroon;
    margin: 10px;
    background-color: red;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
  }

  .sign-out:active {
    box-shadow: none;
    position: relative;
    top: 0.2em;
  }

  .profile {
    line-height: 1.5em;
    text-align: center;
    display: inline-block;
    width: 6.5em;
    border-radius: 0.75em;
    -o-box-shadow: 0 0.2em maroon;
    box-shadow: 0 0.2em gray;
    margin: 10px;
    background-color: lightgray;
    cursor: pointer;
    padding-left: 5px;
    color: gray;
    text-shadow: -1px -1px black, 1px 1px white;
    padding-right: 5px;
  }

  .profile:active {
    box-shadow: none;
    position: relative;
    top: 0.2em;
  }

  .nav-logo {
    padding: 0 4px;

    .nav-button {
      display: flex;
      padding: 4px 8px;
    }
  }
}
