@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700|Nunito:600');

.pokemonDescriptionContainer {
  margin: 0px 10px
}

.pokemonDescriptionContainer{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  text-align: start;
    font-size: larger;
    font-weight: 200;
}

.pokemonDescriptionContainerContent{
  max-width: 270px;
  border-radius: 20px;
  padding-bottom: 0.5rem;
  background: none;
}

@media (max-width: 390px) {

  .pokemonDescriptionContainer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 0px 10px 0px 5px;
    text-align: start;
    font-size: larger;
    font-weight: 200;
  }

  /* .homeTextContainerContent{
    display: flex;
    max-width: 235px;
    border-radius: 20px;
    padding-bottom: 0.5rem;
    background: none;
  } */
}