.pokemonCardContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemonCardContainer .card {
  max-width: 400px;
  border-radius: 20px;
  padding-bottom: 0.5rem;
  background: none;
}

.pokemonCardContainer .card .card-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
}

.pokemonCardContainer .card--charizard .card-image-container {
  position: absolute;
  display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}

.pokemonCardContainer .card--charizard .card-image-container img{
    width: 390px;
}

.pokemonCardContainer .card-content .column .symbol {
  width: 40px;
    height: 40px;
    filter: drop-shadow(0px 1px 9px black);
    border-radius: 55%;
    margin-bottom: 10px;
}

.pokemonCardContainer .card-content .main {
  padding: 0px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemonCardContainer .card-content .title {
  letter-spacing: 4px;
  margin-bottom: 15px;
  font-size: 3rem;
}

.pokemonCardContainer .hp {
  position: relative;
  font-weight: bold;
  font-size: 1.5rem;
}

.pokemonCardContainer hr {
  height: 6px;
    width: 165px;
    border: none;
    border-radius: 10px;
}

.pokemonCardContainer .hp::before {
  position: absolute;
  top: -8px;
  left: 50%;
  width:400%;
  height: 5px;
  border-radius: 3px;
  content: ' ';
  transform: translateX(-50%);
}

.pokemonCardContainer .card-content .stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 20px;
}

.pokemonCardContainer .card-content .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 20px;
}

.pokemonCardContainer .card-content .nudge {
 margin-bottom: 25px;
}

.pokemonCardContainer .card-content .stats .tag {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px 10px;
    border-radius: 50px;
    font-size: 0.8em;
    width: 80%;

}

.pokemonCardContainer .card-content .stats .center-column {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.pokemon-links {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

.pokemon-links a {
  font-weight: 600;
  margin: 0 40px;
}

.pokemon-links a:hover {
  color: #FFF;
}